<!doctype html>
<html lang="ru">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Inoreader Filter</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
  crossorigin="anonymous">
<link rel="stylesheet" href="/public/css/styles.css">

<body>
  <div class="container py-3">
    <div class="row">
      <div class="col-md">
        <h2>Hrefs</h2>
        <form class="pt-2 mb-3">
          <input class="form-control" id="href" type="text" placeholder="Add new href">
        </form>
        <ul>
          {{#each hrefs}}
          <li>
            {{href}} <button type="button" class="btn btn-sm btn-outline-danger float-right" value="href-{{id}}">×</button>
          </li>
          {{/each}}
        </ul>
      </div>

      <div class="col-md">
        <h2>Titles</h2>
        <form class="pt-2 mb-3">
          <input class="form-control" id="title" type="text" placeholder="Add new title">
        </form>
        <ul>
          {{#each titles}}
          <li>
            {{title}} <button type="button" class="btn btn-sm btn-outline-danger float-right" value="title-{{id}}">×</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <script src="/public/js/main.js"></script>
</body>

</html>
