<ul>
	<% for (const item of items) { %>
	<li class="py-1">
		<%= item[type] %>
		<button
			type="button"
			class="btn btn-sm btn-outline-danger float-right"
			value="<%= `${type}-${item.id}` %>"
		>
			×
		</button>
	</li>
	<% } %>
</ul>
